# Lookup for ProfileVerificationResult - FHIR Cross-Version Extensions package to use FHIR R5 in FHIR R4 v0.0.1-snapshot-3

## Lookup for ProfileVerificationResult

### Lookup for FHIR R5 VerificationResult for use in FHIR R4

The FHIR R5 resource is represented in FHIR R4 via the VerificationResult resource.

Note that there is a profile defined to simplify use of this cross-version resource representation:[Profile: VerificationResult](StructureDefinition-profile-VerificationResult.md)

A computable version of the following element information is available in: [ConceptMapR5VerificationResultElementsForR4VerificationResult](ConceptMap-ConceptMap-R5-VerificationResult-elements-for-R4-VerificationResult.md)

| | |
| :--- | :--- |
| [`VerificationResult`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.meta`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.meta](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.implicitRules`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.implicitRules](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.language`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.language](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.text`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.text](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.contained`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.contained](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.target`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.target](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.targetLocation`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.targetLocation](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.need`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.need](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.status`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.status](https://hl7.org/fhir/R4/VerificationResult.html#resource)[http://hl7.org/fhir/5.0/StructureDefinition/extension-VerificationResult.status](StructureDefinition-ext-R5-VerificationResult.status.md) |
| [`VerificationResult.statusDate`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.statusDate](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.validationType`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.validationType](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.validationProcess`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.validationProcess](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.frequency`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.frequency](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.lastPerformed`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.lastPerformed](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.nextScheduled`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.nextScheduled](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.failureAction`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.failureAction](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.primarySource`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.primarySource](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.primarySource.who`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.primarySource.who](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.primarySource.type`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.primarySource.type](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.primarySource.communicationMethod`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.primarySource.communicationMethod](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.primarySource.validationStatus`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.primarySource.validationStatus](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.primarySource.validationDate`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.primarySource.validationDate](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.primarySource.canPushUpdates`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.primarySource.canPushUpdates](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.primarySource.pushTypeAvailable`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.primarySource.pushTypeAvailable](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.attestation`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.attestation](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.attestation.who`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.attestation.who](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.attestation.onBehalfOf`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.attestation.onBehalfOf](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.attestation.communicationMethod`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.attestation.communicationMethod](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.attestation.date`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.attestation.date](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.attestation.sourceIdentityCertificate`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.attestation.sourceIdentityCertificate](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.attestation.proxyIdentityCertificate`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.attestation.proxyIdentityCertificate](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.attestation.proxySignature`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.attestation.proxySignature](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.attestation.sourceSignature`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.attestation.sourceSignature](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.validator`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.validator](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.validator.organization`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.validator.organization](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.validator.identityCertificate`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.validator.identityCertificate](https://hl7.org/fhir/R4/VerificationResult.html#resource) |
| [`VerificationResult.validator.attestationSignature`](https://hl7.org/fhir/R5/VerificationResult.html#resource) | [VerificationResult.validator.attestationSignature](https://hl7.org/fhir/R4/VerificationResult.html#resource) |

