# Lookup for ProfileTestReport - FHIR Cross-Version Extensions package to use FHIR R5 in FHIR R4 v0.0.1-snapshot-3

## Lookup for ProfileTestReport

### Lookup for FHIR R5 TestReport for use in FHIR R4

The FHIR R5 resource is represented in FHIR R4 via the TestReport resource.

Note that there is a profile defined to simplify use of this cross-version resource representation:[Profile: TestReport](StructureDefinition-profile-TestReport.md)

A computable version of the following element information is available in: [ConceptMapR5TestReportElementsForR4TestReport](ConceptMap-ConceptMap-R5-TestReport-elements-for-R4-TestReport.md)

| | |
| :--- | :--- |
| [`TestReport`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.meta`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.meta](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.implicitRules`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.implicitRules](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.language`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.language](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.text`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.text](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.contained`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.contained](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.identifier`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.identifier](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.name`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.name](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.status`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.status](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.testScript`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.testScript](https://hl7.org/fhir/R4/TestReport.html#resource)[http://hl7.org/fhir/5.0/StructureDefinition/extension-TestReport.testScript](StructureDefinition-ext-R5-TestReport.testScript.md) |
| [`TestReport.result`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.result](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.score`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.score](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.tester`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.tester](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.issued`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.issued](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.participant`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.participant](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.participant.type`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.participant.type](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.participant.uri`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.participant.uri](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.participant.display`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.participant.display](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.operation`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.operation](https://hl7.org/fhir/R4/TestReport.html#resource)[http://hl7.org/fhir/5.0/StructureDefinition/extension-TestReport.setup.action.operation](StructureDefinition-ext-R5-TestReport.set.act.operation.md) |
| [`TestReport.setup.action.operation.result`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.operation.result](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.operation.message`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.operation.message](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.operation.detail`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.operation.detail](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.assert`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.assert](https://hl7.org/fhir/R4/TestReport.html#resource)[http://hl7.org/fhir/5.0/StructureDefinition/extension-TestReport.setup.action.assert](StructureDefinition-ext-R5-TestReport.set.act.assert.md) |
| [`TestReport.setup.action.assert.result`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.assert.result](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.assert.message`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.assert.message](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.assert.detail`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.assert.detail](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.assert.requirement`](https://hl7.org/fhir/R5/TestReport.html#resource) | [http://hl7.org/fhir/5.0/StructureDefinition/extension-TestReport.setup.action.assert.requirement](StructureDefinition-ext-R5-TestReport.set.act.ass.requirement.md) |
| [`TestReport.setup.action.assert.requirement.link[x]`](https://hl7.org/fhir/R5/TestReport.html#resource) | [Extension slice: link](StructureDefinition-ext-R5-TestReport.set.act.ass.requirement.md) |
| [`TestReport.test`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.test.name`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.name](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.test.description`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.description](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.test.action`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action](https://hl7.org/fhir/R4/TestReport.html#resource)[http://hl7.org/fhir/5.0/StructureDefinition/extension-TestReport.test.action](StructureDefinition-ext-R5-TestReport.tes.action.md) |
| [`TestReport.test.action.operation`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action.operation](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: operation](StructureDefinition-ext-R5-TestReport.tes.action.md) |
| [`TestReport.test.action.operation.result`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action.operation.result](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: result](StructureDefinition-ext-R5-TestReport.tes.action.md) |
| [`TestReport.test.action.operation.message`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action.operation.message](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: message](StructureDefinition-ext-R5-TestReport.tes.action.md) |
| [`TestReport.test.action.operation.detail`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action.operation.detail](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: detail](StructureDefinition-ext-R5-TestReport.tes.action.md) |
| [`TestReport.test.action.assert`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action.assert](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: assert](StructureDefinition-ext-R5-TestReport.tes.action.md) |
| [`TestReport.test.action.assert.result`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action.assert.result](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: result](StructureDefinition-ext-R5-TestReport.tes.action.md) |
| [`TestReport.test.action.assert.message`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action.assert.message](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: message](StructureDefinition-ext-R5-TestReport.tes.action.md) |
| [`TestReport.teardown`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.teardown](https://hl7.org/fhir/R4/TestReport.html#resource)[http://hl7.org/fhir/5.0/StructureDefinition/extension-TestReport.teardown](StructureDefinition-ext-R5-TestReport.teardown.md) |
| [`TestReport.test.action.assert.detail`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action.assert.detail](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: detail](StructureDefinition-ext-R5-TestReport.tes.action.md) |
| [`TestReport.test.action.assert.requirement`](https://hl7.org/fhir/R5/TestReport.html#resource) | [Extension slice: requirement](StructureDefinition-ext-R5-TestReport.tes.action.md) |
| [`TestReport.teardown.action`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.teardown.action](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: action](StructureDefinition-ext-R5-TestReport.teardown.md) |
| [`TestReport.test.action.assert.requirement.link[x]`](https://hl7.org/fhir/R5/TestReport.html#resource) | [Extension slice: link](StructureDefinition-ext-R5-TestReport.tes.action.md) |
| [`TestReport.teardown.action.operation`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.teardown.action.operation](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: operation](StructureDefinition-ext-R5-TestReport.teardown.md) |
| [`TestReport.teardown.action.operation.result`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.teardown.action.operation.result](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: result](StructureDefinition-ext-R5-TestReport.teardown.md) |
| [`TestReport.teardown.action.operation.message`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.teardown.action.operation.message](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: message](StructureDefinition-ext-R5-TestReport.teardown.md) |
| [`TestReport.teardown.action.operation.detail`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.teardown.action.operation.detail](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension slice: detail](StructureDefinition-ext-R5-TestReport.teardown.md) |

