# Lookup for ProfileTestReport - Extensions for Using Data Elements from FHIR R5 in FHIR R4 v0.0.1-snapshot-3

## Lookup for ProfileTestReport

### Lookup for FHIR R5 TestReport for use in FHIR R4

The FHIR R5 resource is represented in FHIR R4 via the TestReport resource.

Note that there is a profile defined to simplify use of this cross-version resource representation:[Profile: TestReport](StructureDefinition-profile-TestReport.md)

A computable version of the following element information is available in: [R5TestReportElementMapToR4](ConceptMap-R5-TestReport-element-map-to-R4.md)

| | |
| :--- | :--- |
| [`TestReport`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.meta`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.meta](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.implicitRules`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.implicitRules](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.language`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.language](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.text`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.text](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.contained`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.contained](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.identifier`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.identifier](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.name`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.name](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.status`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.status](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.testScript`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.testScript](https://hl7.org/fhir/R4/TestReport.html#resource)[Standard Extension: alternate-canonical](http://hl7.org/fhir/StructureDefinition/alternate-canonical) |
| [`TestReport.result`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.result](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.score`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.score](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.tester`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.tester](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.issued`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.issued](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.participant`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.participant](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.participant.type`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.participant.type](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.participant.uri`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.participant.uri](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.participant.display`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.participant.display](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.operation`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.operation](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.operation.result`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.operation.result](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.operation.message`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.operation.message](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.operation.detail`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.operation.detail](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.assert`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.assert](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.assert.result`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.assert.result](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.assert.message`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.assert.message](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.assert.detail`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.setup.action.assert.detail](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.setup.action.assert.requirement`](https://hl7.org/fhir/R5/TestReport.html#resource) | [Extension: ExtensionTestReport_Setup_Action_Assert_Requirement](StructureDefinition-ext-R5-TestReport.set.act.ass.requirement.md) |
| [`TestReport.setup.action.assert.requirement.link[x]`](https://hl7.org/fhir/R5/TestReport.html#resource) | [Extension: ExtensionTestReport_Setup_Action_Assert_Requirement Slice:link](StructureDefinition-ext-R5-TestReport.set.act.ass.requirement.md)[Standard Extension: alternate-canonical](http://hl7.org/fhir/StructureDefinition/alternate-canonical)[Standard Extension: alternate-reference](http://hl7.org/fhir/StructureDefinition/alternate-reference) |
| [`TestReport.test`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.test.name`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.name](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.test.description`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.description](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.test.action`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.test.action.operation`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action.operation](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension: ExtensionTestReport_Setup_Action_Operation](StructureDefinition-ext-R5-TestReport.set.act.operation.md) |
| [`TestReport.test.action.assert`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.test.action.assert](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension: ExtensionTestReport_Setup_Action_Assert](StructureDefinition-ext-R5-TestReport.set.act.assert.md) |
| [`TestReport.teardown`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.teardown](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.teardown.action`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.teardown.action](https://hl7.org/fhir/R4/TestReport.html#resource) |
| [`TestReport.teardown.action.operation`](https://hl7.org/fhir/R5/TestReport.html#resource) | [TestReport.teardown.action.operation](https://hl7.org/fhir/R4/TestReport.html#resource)[Extension: ExtensionTestReport_Setup_Action_Operation](StructureDefinition-ext-R5-TestReport.set.act.operation.md) |

